.navbar{
    height: 18vh;
    width: 100vw;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.9em;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 1.3em;
}
.navbar ul li{
    list-style: none;
    display: flex;
    cursor: pointer;
}
.navbar ul a{
    color: #fff;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
}
.navbar ul a:hover{
    color: var(--secondary-color);
    transition: all .5s ease;
}
.navbar img{
    max-height: 4.5em;
}
.navbar button{
    cursor: pointer;
    background: var(--secondary-color);
    color: #fff;
    padding: .7em 1.1em;
    font-size: 1em;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}
.navbar button:hover{
    color: #000;
    transition: all ease-in-out .5s;
}